/*PALETA DE COLORES*/
$color-primario: #000;
$color-secundario: #b2b2b2;
$color-terciario: yellow;

/*FUENTES*/
$fuente-principal: 'Roboto', sans-serif;
$fuente-chica: 14px;
$fuente-media: 20px;

//RESOLUCIONES DE TABLETAS
$tablet: 768px;
$desktop: 992px;
$desktopXG: 1200px;


//SEPARACIONES USADAS EN MARGENES Y PADDINGS
$espacio-mini: 10px;
$espacio-chico: 20px;
$espacio-medio: 40px;
$espacio-grande: 60px;
